ng-valid.ng-touched {
  border: 5px solid #42a948;
}

ng-invalid.ng-touched {
  border: 5px solid red;
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.alert {
  background-color: #f44336; /* Red */
  color: white;
  width: 20%;
}

.error {
  width: 100%;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
  margin: 0.3em;
}

.form-group {
  padding: 5px;
}
