@import "./global-params";
@import "./themes/theme.default";

$placeholder-color: #888;
$title-color: #369;
$subtitle-color: #444;

$loader-background-color: rgba(40, 126, 171, 0.22);

.loader-class {
  background-color: $loader-background-color;
  pointer-events: none;
}

html,
body {
  font-family: $font-family;
}

body {
  margin: 2em;
}

body,
button {
  color: $placeholder-color;
}

input {
  &[type="text"] {
    color: $placeholder-color;
  }
}

h1 {
  color: $title-color;
  font-size: $font-size-h1;
}

h2,
h3 {
  color: $subtitle-color;
  font-weight: lighter;
}
