$li-background: #eee;
$item-hover-color: #607d8b;
$item-hover-background: #ddd;
$item-selected-background: #cfd8dc;
$item-selected-hover-background: #bbd8dc;
$item-selected-hover-color: #fff;

.heroes {
  margin: 0 0 2em;
  list-style-type: none;
  padding: 0;
  width: 15em;

  li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: $li-background;
    margin: 0.5em;
    padding: 0.3em 0;
    height: 1.6em;
    border-radius: 4px;

    &:hover {
      color: $item-hover-color;
      background-color: $item-hover-background;
      left: 0.1em;
    }

    .selected {
      background-color: $item-selected-background;
      color: $item-selected-hover-color;

      &:hover {
        background-color: $item-selected-hover-background;
        color: $item-selected-hover-color;
      }
    }
  }

  .text {
    position: relative;
    top: -3px;
  }

  .badge {
    display: inline-block;
    font-size: small;
    color: $item-selected-hover-color;
    padding: 0.8em 0.7em 0;
    background-color: $item-hover-color;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: 0.8em;
    border-radius: 4px 0 0 4px;
  }
}
